/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.element::-webkit-scrollbar { width: 0 !important }

#logo{
            position:absolute;
            top:-20;
            left:30;
            text-align: center;
}
#logo h1{
    color: #00000;
}
#logo-top{
    padding-top: -5px;
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 20%;
    text-decoration-color : #00000;
}
#logo h2{
     color: #00000;
     padding-top:0px
}

#topbar{
    top: -80;
    padding-left: 200;
}
#topbar button{
    font-family: 'Roboto';
    font-size: 24px;
    color: #151D21;
    background: #ff7a7a;
    display: inline-flex;
    padding: 6px;
    margin-top: 35px;
    margin-right: 5%;
    margin-left: 10%;
    border: none;
    border-radius: 5px;
}
body{
    background-image: url('bg.png');
}
#welcome{
   font-size: 22px;
   width: Xu;
   height: Yu;
   position: absolute;
   top: 35%;
   left: 45%;
   margin-left: -(X/2)u;
   margin-top: -(Y/2)u;    
}
#welcome p{
   position: absolute;
   top: 45%;
   left: -30%;
}